<div class="page">
	<div class="wrapper">
	<form id="newEndpoint" method="POST" action="/" enctype="multipart/form-data">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<label> Title
			<input name="title" type="text" value="{{data.title}}">
		</label>
		<br/>
		<label> Resource Url
			<input name="slug" type="text" value="{{data.slug}}">
		</label>
		<br/>
		<h4>Fields</h4>

		<div id="fields">
			<div class="field" data-id="1">
				<label> Name
					<input name="fieldName" type="text" >
				</label>
				<label> Type
					<select name="fieldType">
						<option value="string">String</option>
						<option value="boolean">Boolean</option>
						<option value="number">Number</option>
					</select>
				</label>
			</div>
		</div>

		<br/>
		<button id="addField">add</button>

		<br/>
		<br/>
		<button type="submit">Create</button>
	</form>
	</div>
</div>

<script>

</script>