<div class="page-header">
	<h1>Create New Endpoints</h1>
</div>

<form id="newEndpoint" method="POST" action="/" enctype="multipart/form-data">

	<input type="hidden" name="_csrf" value="{{csrfToken}}">

	<div class="form-group">
		<label for="title">Title</label>
			<input class="form-control" name="title" type="text" >
	</div>

	<div class="form-group">
		<label>Endpoint Url</label>
		<input class="form-control" name="slug" type="text" >
	</div>

	<h4>Resource Fields <button id="addField" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button></h4>

		<div class="field form-inline panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control field-data" name="fieldName" type="text" >
				</div>

				<div class="form-group">
					<label>Type</label>
					<select class="form-control" name="fieldType">
						<option value="string">String</option>
						<option value="boolean">Boolean</option>
						<option value="number">Number</option>
					</select>
				</div>
			</div>
		</div>

	<button type="submit" class="btn btn-primary">Create</button>
</form>