<div class="page">
	<div class="wrapper">
	<form>
		<label> Title
			<input name="title" type="text" >
		</label>
		<br/>
		<label> Resource Url
			<input name="resource_url" type="text" >
		</label>
		<br/>
		<h4>Fields</h4>
		<div id="fields">
			<div>
				<label> Field Name
					<input name="field_name" type="text" >
				</label>
				<label> Field Type
					<select name="field_type">
						<option value="string">String</option>
						<option value="boolean">Boolean</option>
						<option value="number">Number</option>
					</select>
				</label>
			</div>
		</div>
		<br/>
		<button>add</button>

		<br/>
		<br/>
		<button type="submit">Create</button>
	</form>
	</div>
</div>

<script>

</script>