<div class="page-header">
	<h1>List of Endpoints</h1>
</div>

		<div class="row border title">
			<div class="border-child col-xs-3"><strong>Title</strong></div>
			<div class="border-child col-xs-3"><strong>URI</strong></div>
			<div class="border-child col-xs-3"><strong>Status</strong></div>
			<div class="border-child col-xs-3"><strong>Action</strong></div>
		</div>

		{{#each endpoints}}
		<div class="row border data {{#if @last}}border-last{{/if}}">
			<div class="border-child col-xs-3">{{this.title}}</div>
			<div class="border-child col-xs-3">/api/v1/{{this.slug}}</div>
			<div class="border-child col-xs-3">running</div>
			<div class="border-child col-xs-3"></div>
		</div>

		<div class="row resources {{#if @last}}border-last{{/if}}">
			<div class="border-child col-xs-12">{{testing}}</div>
		</div>
		{{/each}}
<!-- </div> -->

